@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,500&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Kanit:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600&family=Teko:wght@300;400;500;600&family=Vollkorn:wght@400;500;600;700&display=swap');


.App {
  text-align: center;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
background-color: #D6FD53;
color: black;
}

.titleCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 150px;
  margin: 0;
  position: relative;
}

.titleCont > h2{
  line-height: 0.9;
  margin-left: 20px;
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: 'Bebas Neue', sans-serif;
}

.homeImg {
  width: 300px;
  border-radius: 40px;
  position: absolute;
  top: 107px;
  right: 50px;
}

.starsCont {
  color: rgba(0, 0, 0, 0.3);
  font-size: 25px;
  position: absolute;
  top: 260px;
  right: 70px;
}

.starsCont > span{
  padding: 0 30px;
}

.PtitleCont {
  margin-top: 300px;
  text-align: left;
}

.PtitleCont > p{
  font-size: 18px;
  margin-right: 50px;
}

.careerCont {
  display: flex;
  align-items: center;
}

.careerCont > p {
  border: 1px solid black;
  border-radius: 30px;
  font-size: 18px;
  padding: 5px 10px;
  margin-left: 30px;
}

.careerCont > hr{
  color: black
}

.horizontalLine {
  width: 900px; 
  height: 1px; 
  background-color: black;
  margin-left: 50px;
}

.ResumeCont {
  display: flex;
}

.ResumeCont > .horizontalLine {
  width: 850px; 
  height: 1px; 
  background-color: black;
  margin-left: 50px;
  margin-top: 60px;
}

.btnCV {
  color:rgb(255, 255, 255);
  padding: 12px 60px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border: 3px solid black;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 25px;
}

.btnCV:hover {
  color: black;
  background-color: transparent;
}

.btnCV:hover span{
  color: black;
}

.spanCircle {
  color:#D6FD53;
  margin-left: 10px;
  font-size: 35px;
}

.spanCircle:hover {
  color:#000000;
  margin-left: 10px;
}

.workCont {
  background-color: #000000;

  border-radius: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
}

.techCont {
  display: flex;
  align-items:flex-start;
  justify-content: space-around;
  color: #D6FD53;
}

.techCont > p{
  text-decoration: none;
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  font-size: 50px;
}

.techIcons{
  text-align: left;
}

.techIcons > p{
  display: 'flex';
  align-items: 'center';
  margin-right: '10px' 
}

.imgCont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.pageImg {
  width: 550px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  margin: 30px 0 50px 0;
  border-radius: 10px;
}

.pageImg:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(214, 253, 83, 0.2);
  opacity: 1;
  cursor: pointer;
}

/* Navbar */

.contIcon {
  position: absolute;
  right: 5%;
  cursor: pointer;
  display: none;
}

#close-icon {
  display: none;
}

#check {
  display: none;
}

.navCont {
  background-color: rgb(214, 253, 83);
  color: black;
  display: flex;
  padding: 0px 20px 0 20px;
  justify-content:space-between;
  align-items: center;
}

.navCont > p {
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
}

.NavLinks {
  color: black;
  font-size: 15px;
  text-decoration: none;
  padding: 0 10px;
  margin-left: 100px;
}

.NavLinks:hover {
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.boostrapIcon {
  width: 24px;

}

/* footer */

.footer-container {
  background-color: rgba(1, 1, 1, 1);
  color: #fff;
  padding: 20px;
  text-align: center;
  bottom: 0; 
  width: 100%; 
}

.social-icons a{
  color: #D6FD53;
  margin-right: 10px;
}

.social-icons a:hover{
  color: #ffffff;
}

/* skills */

.SkillsContainer {
  background-color: #000000;
}

.SkillsContainer > h2{
  color: rgb(236, 232, 232);
  font-size: 40px;
  margin: 0px 30px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.spanCircle2 {
  font-size: 30px;
  color: #D6FD53;
}

.skillsTech {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-left: 30px;
  color: #D6FD53;
}

.boostrapIcon2 {
  display: flex;
}

.boostrapIcon2 > img {
  width: 60px;
}

.skillCont {
  display: flex;
}

.itemskill {
  width: 150px;
  height: 45px;
  margin: 10px 20px;
}

.itemskillVite {
  width: 120px;
  height: 45px;
  margin: 10px 20px;
}

.itemskill1 {
  width: 150px;
  height: 45px;
  margin: 10px 20px;
 
}

.divBottom {
  padding-bottom: 150px;
}

/* contact */

.D {
  margin-left: -30px;
  padding-bottom: 50px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.contactContainer > h2{
  color: white;
  font-family: sans-serif;
  margin: 40px 0;
  font-size: 40px;
}

.ContactIcon {
  color: #D6FD53;
  margin: 20px 0;
}

.contactImg {
  width: 370px;
  height: 35px;
  margin: 10px 20px;
}

a {
  text-decoration: none;
}

.contactImg3, .contactImg{
  font-size: 20px;
  color: #fff;
}

.contactImg3:hover {
  color: #6e6d6d;
}

.contactContIcon {
  display: flex;
  align-items: center;
}

.itemwebsite {
  width: 100px;
  height: 35px;
  margin: 10px 20px 10px 0px;
}

.spanCont {
  padding-bottom: 150px;
}

.numberCont {
  display: flex;
  align-items: center;
}

.whatsappNumer {
  color:white;
  text-decoration: underline;
  margin-left: 20px;
  font-size: 20px;
}

/* About */

.AboutCont {
  padding-bottom: 90px;
  padding-top: 50px;
}

.imgContainer {
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-right: 100px;
  position: relative;
}

.Aabout {
  position: absolute;
  top: -135px;
  left: 100px;
  color: #D6FD53;
  font-size: 500px;
  z-index: 0;
  font-weight: 800;
}

.Babout {
  position: absolute;
  top: 250px;
  left: 380px;
  font-weight: 700;
  z-index: 1;
}

.circleAbout {
  position: absolute;
  top: 267px;
  left: 580px;
  color: #D6FD53;
}

.AboutCont > p {
  color: white;
  margin: 170px 40px 20px 40px;
  z-index: 1;
  font-size: 18px;
}

.anclaAbout {
  color: #D6FD53;
}

.imgPerfil {
  width: 200px;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 30px;
  z-index: 1;
}

.aboutMeSpan {
  color: white;
  font-size: 50px;
  margin-left: -620px;
  z-index: 1;
}

.bioSpan {
  color: #8c8a8a;
  margin-left: 60px;
  margin-top: 150px;
  font-size: 18px;
  text-align: right;
  line-height: 1.8;
}

@media (max-width: 991px) {

  .navCont {
    height: 90px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.1);
  }

  .contIcon {
    display: inline-flex;
  }

  .navbar {
    position: absolute;
    top: 14%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    backdrop-filter: blur(20px);
    z-index: 99;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
  }

  #check:checked~.navbar {
    height: 35rem;
    background: rgba(0, 0, 0, 0.3);
  }

  .navlinkCont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .NavLinks {
    color: #fff;
    font-size: 20px;
    margin: 1.8rem 0;
    text-align: left;
    cursor: pointer;
  }

  .NavLinks:hover {
    color: #b6b3b3;
    text-decoration:underline;
  }

  #check:checked~.contIcon #menu-icon {
    display: none;
  }

  #check:checked~.contIcon #close-icon {
    display: block;
  }

  .homeImg {
    width: 150px;
    background-color: rgb(214, 253, 83, 0.2);
    position: absolute;
    top: 200px; 
    
  }

  .ResumeCont {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btnCV {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    color:rgb(255, 255, 255);
    padding: 10px 60px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'DM sans';
  }

  .horizontalLine {
    width: 200px; 
    height: 1px; 
    background-color: black;
    margin-left: 20px;
    margin-right: 30px;
  }

  .ResumeCont > .horizontalLine {
    width: 2px; 
    background-color: #D6FD53;
    margin-left: 1px;
  }

  .titleCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150px;
    margin: 0;
    position: relative;
  }
  
  .titleCont > h2{
    line-height: 0.9;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0;
    font-size: 110px;
    letter-spacing: -1px; 
  }

  .starsCont {
    display: none;
  }

  .PtitleCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;   
    margin-bottom: 25px;
    font-size: 15px;
  }

  .PtitleCont > p{
    font-size: 15px;
    margin:6px 0;
  }

  .careerCont > p {
    border: 1px solid black;
    border-radius: 30px;
    font-size: 15px;
    padding: 5px 50px;
    margin-left: 30px;
  }


  .imgCont {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .pageImg {
    width: 290px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
    cursor: pointer;
    transition: none;
    margin-bottom: 30px;
  }

  .techCont {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .techCont > p{
    font-size: 30px;
  }

  .spanCircle {
    font-size: 24px;
  }

  .skillCont {
    display: flex;
    flex-direction: column;
  }

  .css {
    margin-left: 7px;
  }

  .contactImg, .contactImg3 {
    font-size: 18px;
    padding-top: 16px;
  }
  
  .footer-container {
    font-family: 'DM Sans';
    background-color: rgba(1, 1, 1, 1);
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0; 
    width: 90%; 
  }

  .Aabout {
    position: absolute;
    top: -135px;
    left: 50px;
    color: #D6FD53;
    font-size: 380px;
    z-index: 0;
    font-weight: 800;
  }

  .Babout {
    position: absolute;
    top: -87px;
    left: -180px;
    font-size: 60px;
    z-index: 1;
  }
  
  .circleAbout {
    position: absolute;
    top: -30px;
    left: -10px;
    color: #D6FD53;
  }
  
  .AboutCont > p {
    color: white;
    font-size: 14px;
    margin: 130px 30px 20px 30px;
    z-index: 1;
  }
  
  .imgPerfil {
    width: 150px;
    border-radius: 50%;
    margin-top: -10px;
    margin-left: 30px;
    z-index: 1;
  
  }
  
  .aboutMeSpan {
    color: white;
    font-size: 50px;
    position: absolute;
    top:190px;
    right: -60px;
    z-index: 1;
  }

  .bioSpan {
    text-align: center;
    color: #fff;
    position: absolute;
    text-align: left;
    font-size: 15px;
    left: 0px;
    top: 180px;
    width: 300px;
  }
  
  .AboutCont > p {
    color: white;
    font-family: 'Poppins';
    margin: 330px 30px 20px 30px;
    z-index: 1;
  }

  .worksComponentCont {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btnDownload {
    color:rgb(255, 255, 255);
    padding: 12px 60px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 25px;
  }
}




